{% extends "base.html" %}

{% block title %}Profile Images - ShopStop{% endblock %}

{% block page_title %}Profile Images Reference{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Male Profile Images</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="m1" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>m1.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/men/12.jpg" alt="m2" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>m2.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/men/13.jpg" alt="m3" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>m3.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/men/14.jpg" alt="m4" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>m4.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/men/15.jpg" alt="m5" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>m5.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/men/16.jpg" alt="m6" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>m6.jpg</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Female Profile Images</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="f1" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>f1.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/women/12.jpg" alt="f2" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>f2.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/women/13.jpg" alt="f3" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>f3.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/women/14.jpg" alt="f4" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>f4.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/women/15.jpg" alt="f5" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>f5.jpg</p>
                    </div>
                    <div class="col-md-2 text-center mb-3">
                        <img src="https://randomuser.me/api/portraits/women/16.jpg" alt="f6" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                        <p>f6.jpg</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
